{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-sm-8 offset-sm-2">
				<h1>Vos informations</h1>
				<table class="table table-light table-hover">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Date de naissance</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ informations.lastname }}</td>
							<td>{{ informations.firstname }}</td>
							<td>{{ informations.birthdate }}</td>
							<td>{{ informations.email }}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
{% endblock %}
